<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/b2b1ff1171.js" crossorigin="anonymous"></script>


  <title>Start Up Project</title>

</head>

<body>
  <div class="wrapper">
    <div class="box1">
      <form action="/compose" method="post">
        <div>
          <textarea name="postTitle" rows="1" cols="10" style="width: 100%">Title(Optional)</textarea>
          <textarea name="postBody" style="width:100%">What do you want to tell the world?</textarea>
        </div>
        <button type="submit" onclick="myFunction()" name="Submit">Submit</button>
    </div>
    </form>
    <div class="box2">
      <i class="fas fa-sign-out-alt fa-2x"></i>
      <p>
        <a href="#">Log Out</a>
      </p>


    </div>
  </div>

</body>

</html>
