<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/b2b1ff1171.js" crossorigin="anonymous"></script>


  <title></title>

</head>

<body>
  <div class="wrapper">
    <div class="box1">
      <form action="/" method="post">
        <div>
          <a id="myAnchor" onclick="login()" class="btn initialbutton btn-outline-dark"">What do you want to tell the world?</a>
          <script>


            let database=[
{username:"anju123@gmail.com",
password:"imcool"

},
{username:"stephen555@gmail.com",
password:"steppan"

},
{username:"mathew@gmail.com",
password:"lovemaths"

}
];
function login() {

const username = prompt('Enter your username');
const password = prompt('Enter your password');

for(i=0;i<database.length;i++){
  if(username==database[i].username && password==database[i].password){
    alert("Logged in! Go create amazing content");
    document.getElementById("myAnchor").href = "/compose";
  }

}
}
          </script>


        </div>
    </div>

    <div class="box2">
      <i class="fas fa-sign-out-alt fa-2x"></i>
      <p>
        <a href="#">Log Out</a>
      </p>
    </div>

  </div>
  <%  posts.forEach(function(post){ %>

  <div class="wrapper">

    <div class="box3">
      <p style="color:blue;"><%=post.title%></p>
      <br />
      <p>
        <%=post.content.substring(0, 400) + " ..."%>
        <a href="/posts/<%=post._id%>">Read More</a>
      </p>
      <div class="row">
        <div class="column1" style="text-align:left;">

          <p id="Submit_button" style="color:orange"></p>
          <script>

              document.getElementById('Submit_button').innerHTML = Date();

          </script>

        </div>
        <div class="column2">
          <div class="container">
            <div class="progress">
              <div id="proBar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:;">
                <!-- <span  class="sr-only">70% Complete</span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="column3">
          <div class="subcol3" onclick="mylikeFunction()">
            <button class=" btn"><i class="far fa-thumbs-up fa-2x"></i></button>
          </div>
          <div class="subcol3" onclick="mydislikeFunction()">
            <button class="btn"><i class="far fa-thumbs-down fa-2x"></i></button>
          </div>
        </div>
      </div>
      <script>
        var i = 0;

        function mylikeFunction() {
          alert("clicked");
          i = parseInt(i) + parseInt(1);

          var progressbar_Percentage = (i / (i + j)) * 100;
          alert(progressbar_Percentage + "%");
          document.getElementById("proBar").innerHTML.style.width = progressbar_Percentage + "%";
        }
        var j = 0;

        function mydislikeFunction() {
          alert("clicked!!!");
          j = parseInt(j) + parseInt(1);
          var progressbar_Percentage = (i / (i + j)) * 100;
          alert(progressbar_Percentage + "%");
          document.getElementById("proBar").innerHTML.style.width = progressbar_Percentage + "%";
        }
      </script>

    </div>
    <div class="box4 ">
      <div class="user-details">
        <i class="fas fa-user-tag fa-3x userimg"></i>
        <p>Sagar giri</p>
        <p>@sagargiri8846</p>
      </div>

    </div>

  </div>


  <% }) %>
</body>

</html>
